@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
    color: ghostwhite;
    background: #222;
    font-size: 1.6rem;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.containerCategory {
    margin: 1rem;
    padding: 1rem;
    color: black;
    width: 51%;
    background: ghostwhite;
}


.size {
    width: 100%;
}

.topMargin {
    margin-top: 2rem;
}

#champLibre {
    width: 30%;
    height: 10%;
}

button {
    border-radius: 12px;
    border: 1px solid white;
    color: white;
    background: #222222;
}

button:hover {
    background: #000;
}


